"*":
  core:
    disabledPackages: [
      "wrap-guide"
      "spell-check"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      ".byebug_history"
    ]
    telemetryConsent: "no"
  editor: {}
  "exception-reporting":
    userId: "f8807593-31ff-46ee-9976-4fdb46212641"
  "tree-view":
    autoReveal: true
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
